.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 80vh;
  height: 100%;
}

.container{
  border: 1px solid;
  padding: 10px;
}
.containerNum{
  border: 1px solid;
  padding: 10px;
  margin-bottom: 10px;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  height: 25px !important;
  min-width: 80px !important;
}
.buttonBox {
  width: 100%;
  height: calc(100% - 110px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
.button{
  background: white;
  height: 25px !important;
  border: 1px solid black;
}
.button p{
  margin: 0;
  color: wheat;
}
.button.active{
  cursor: pointer;
}
.button.active p{
  color: black;
}
.operation{
  background-color: grey;
}
.operation.button.active p{
  color: white !important;
}
.operation p{
  color: black;
}
.toogle{
  background-color: white;
  cursor: pointer;
}
.toogle p{
  color: orange !important;
  font-weight: 700;
}
.clearBtn.active p{
  color: maroon;
  font-weight: 700;
}

.activeNum{
  background-color: aliceblue;
}